@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.whole-nav {
  background-color: black;
  height: 8vh;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  &:hover {
    font-weight: bold;
  }
}

::marker {
  visibility: hidden !important;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cardButton {
  background: transparent;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  :focus {
    outline: none;
  }
}
